<app-menu></app-menu>
<div *ngIf="purchaserequests && filteredPurchaseRequests && systemsrv.loggedInUser.IsReviewer==true && sortProperty && sortOrder">
<table class="table table-sm">
	<tr>
		<th><a (click)="sort('Description')">Description  <i class="fas fa-sort"></i></a></th>
		<th><a (click)="sort('Justification')">Justification  <i class="fas fa-sort"></i></a></th>
		<th><a (click)="sort('DeliveryMode')">Delivery Mode  <i class="fas fa-sort"></i></a></th>
		<th>Status</th>
		<th><a (click)="sort('Total')">Total  <i class="fas fa-sort"></i></a></th>
		<th>User</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let fpr of filteredPurchaseRequests | sort:sortProperty:sortOrder">
		<td>{{fpr.Description}}</td>
		<td>{{fpr.Justification}}</td>
		<td>{{fpr.DeliveryMode}}</td>
		<td>{{fpr.Status}}</td>
		<td>{{fpr.Total | currency}}</td>
		<td>{{fpr.User.Username}}</td>
		<td><a routerLink="/purchaserequestlineitems/review/{{fpr.Id}}">Review</a></td>
	</tr>
</table>
</div>
<div *ngIf="purchaserequests && filteredPurchaseRequests && systemsrv.loggedInUser.IsReviewer==false" style="color:red; margin:10px;">
	You do not have reviewer rights. Please contact network admin for assistance.
</div>