<app-menu></app-menu>
<h3>{{title}}</h3>
<div *ngIf="purchaserequest && systemsrv.loggedInUser.IsReviewer==true;">
	<table class="table table-sm">
		<tr>
			<th>Id</th>
			<th>Description</th>
			<th>Justification</th>
			<th>Status</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>{{purchaserequest.Id}}</td>
			<td>{{purchaserequest.Description}}</td>
			<td>{{purchaserequest.Justification}}</td>
			<td>{{purchaserequest.Status}}</td>
			<td>{{purchaserequest.Total| currency}}
		</tr>
	</table>

	<table class="table table-sm">
		<tr>
			<th><a (click)="sort('ProductName')">Product  <i class="fas fa-sort"></i></a></th>
			<th><a (click)="sort('Quantity')">Quantity  <i class="fas fa-sort"></i></a></th>
			<th>Price</th>
			<th>Line Total</th>
		</tr>
		<tr *ngFor="let li of purchaserequest.PurchaseRequestLineitems | sort:sortProperty:sortOrder">
			<td>{{li.ProductName}}</td>
			<td>{{li.Quantity}}</td>
			<td>{{li.Product.Price | currency}}</td>
			<td>{{li.Quantity*li.Product.Price | currency}}</td>
		</tr>
	</table>
</div>
<div>
	<button (click)="approve();" class="btn btn-success" style="margin:10px 10px 10px 0px;">Approve</button>
	<button (click)="rejectstart();" class="btn btn-danger" style="margin:0px 5px 0px 0px;">Reject</button>

	<span *ngIf="reject && purchaserequest">
		<input [(ngModel)]="purchaserequest.RejectionReason" name="RejectionReason" type="text" class="form-control" id="RejectionReason" placeholder = "Enter reason for rejection here">
		<button (click)="rejectcomplete();" class="btn btn-danger">Complete</button>
	</span>
</div>

