<app-menu></app-menu>
<div *ngIf="systemsrv.loggedInUser && sortOrder && sortProperty && products">
<h3>{{ title }}</h3>
<span style="float:left; width:30%;"><a routerLink='/products/create' *ngIf="systemsrv.loggedInUser.IsAdmin==true;">Add New Product</a></span>
<span style="float:right; width:40%;  padding:0px 5px 0px 0px;"><input class="form-control" type="text" [(ngModel)]="searchCriteria" placeholder="Search(Case Sensitive)"></span>
<br />
<br />
<table class="table table-sm">
	<tr>
		<th><a (click)="sort('Id')">Id <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('PartNumber')">Part Number <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('Name')">Name  <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('Price')">Price  <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('Unit')">Unit  <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('PhotoPath')">Photo Path  <img src='/assets/sort.png'></a></th>
		<th><a (click)="sort('Active')">Active  <img src='/assets/sort.png'></a></th>
		<th>Vendor</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let p of products | searchProduct:searchCriteria | sort:sortProperty:sortOrder">
		<td>{{p.Id}}</td>
		<td>{{p.PartNumber}}</td>
		<td>{{p.Name}}</td>
		<td>{{p.Price | currency}}</td>
		<td>{{p.Unit}}</td>
		<td>{{p.PhotoPath}}</td>
		<td>{{p.Active | bool}}</td>
		<td>{{p.Vendor.Name}}</td>
		<td><a routerLink='/products/detail/{{p.Id}}'>Detail</a>
			<span *ngIf="systemsrv.loggedInUser.IsAdmin==true;">
		 	| <a routerLink='/products/edit/{{p.Id}}'>Edit</a>
			</span>
		</td>
	</tr>
</table>

</div>