<app-menu></app-menu>
<div *ngIf="systemsrv.loggedInUser && sortOrder && sortProperty && products">
	<div id="container2">
		<h3 style="display: inline-block;">{{ title }}</h3>
		<span style="margin: 0 10px">
			<a class="btn btn-primary" routerLink='/products/create' *ngIf="systemsrv.loggedInUser.IsAdmin==true;">Add Product</a>
		</span>
		<input style="display: inline-block; width: 50%" class="form-control" type="search" [(ngModel)]="searchCriteria" placeholder="Search">
		<i style="display: inline-block;" class="fas fa-search"></i>
	</div>
	<br />
	<br />
	<div id="container">
		<table class="table table-hover">
			<tr>
				<th>
					<a (click)="sort('PartNumber')">Part Number
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>
					<a (click)="sort('Name')">Name
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>
					<a (click)="sort('Price')">Price
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>
					<a (click)="sort('Unit')">Unit
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>
					<a (click)="sort('PhotoPath')">Photo Path
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>
					<a (click)="sort('VendorName')">Vendor
						<i class="fas fa-sort"></i>
					</a>
				</th>
				<th>Actions</th>
			</tr>
			<tr *ngFor="let p of products | searchProduct:searchCriteria | sort:sortProperty:sortOrder">
				<td>{{p.PartNumber}}</td>
				<td>{{p.Name}}</td>
				<td>{{p.Price | currency}}</td>
				<td>{{p.Unit}}</td>
				<td>
					<img height="120" src="{{p.PhotoPath}}">
				</td>
				<td>{{p.VendorName}}</td>
				<td>
					<a class="badge badge-primary" routerLink='/products/detail/{{p.Id}}'>Detail</a>
					<span *ngIf="systemsrv.loggedInUser.IsAdmin==true;">
						|
						<a class="badge badge-primary" routerLink='/products/edit/{{p.Id}}'>Edit</a>
					</span>
				</td>
			</tr>
		</table>
	</div>

</div>