a:hover	{
	cursor: pointer;
}

input {
    -webkit-appearance: searchfield;

}

*::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;

}
#container2 {
    margin-top: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: #DDDDDD;
}
#container {
    margin-top: 100px;
    padding-bottom: 200px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


