<app-menu></app-menu>
<div *ngIf="systemsrv.loggedInUser && sortProperty && sortOrder && users">
  <div id="container2">
    <h3 style="display: inline-block;">{{ title }}</h3>
    <span style="margin: 0 10px">
      <a class="btn btn-primary" *ngIf="systemsrv.loggedInUser.IsAdmin==true;" routerLink='/users/create'>Add New</a>
    </span>
    <input style="display: inline-block; width: 50%" class="form-control" type="search" [(ngModel)]="searchCriteria" placeholder="Search">
    <i style="display: inline-block;" class="fas fa-search"></i>
  </div>
  <br />
  <br />
  <div id="container">
    <table class="table table-hover">
      <tr>
        <th>
          <a (click)="sort('Username')">Username
            <i class="fas fa-sort"></i>
          </a>
        </th>
        <th>
          <a (click)="sort('Firstname')">Name
            <i class="fas fa-sort"></i>
          </a>
        </th>
        <th>
          <a (click)="sort('Phone')">Phone
            <i class="fas fa-sort"></i>
          </a>
        </th>
        <th>
          <a (click)="sort('Email')">Email
            <i class="fas fa-sort"></i>
          </a>
        </th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let u of users | searchUser:searchCriteria | sort:sortProperty:sortOrder">
        <td>{{u.Username}}</td>
        <td>{{u.Firstname}} {{u.Lastname}}</td>
        <td>{{u.Phone}}</td>
        <td>{{u.Email}}</td>
        <td>
          <a class="badge badge-primary" routerLink='/users/detail/{{ u.Id }}'>Detail</a>
          <span *ngIf="systemsrv.loggedInUser.IsAdmin===true || systemsrv.loggedInUser.Id === u.Id;"> |
            <a class="badge badge-primary" routerLink='/users/edit/{{u.Id}}'> Edit</a>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>