<app-menu></app-menu>
<h3>{{title}}</h3>
<div style="width:60%; padding: 10px;">
	<label class="input-group-text" for="PartNumber">PartNumber</label>
		<input [(ngModel)]="product.PartNumber" name="PartNumber" type="text" class="form-control" id="PartNumber">

	<label class="input-group-text" for="Name">Name</label>
		<input [(ngModel)]="product.Name" name="Name" type="text" class="form-control" id="Name">

	<label class="input-group-text" for="Price">Price</label>
		<input [(ngModel)]="product.Price" name="Price" type="number" class="form-control" id="Price">

	<label class="input-group-text" for="Unit">Unit</label>
		<input [(ngModel)]="product.Unit" name="Unit" type="text" class="form-control" id="Unit">

	<label class="input-group-text" for="PhotoPath">PhotoPath</label>
		<input [(ngModel)]="product.PhotoPath" name="PhotoPath" type="text" class="form-control" id="PhotoPath">

	<label class="input-group-text" for="Active">Active</label>
	<select [(ngModel)]=product.Active class="form-control" id="Active" name="Active">
		<option [ngValue]="true">Yes</option>
		<option [ngValue]="false">No</option>
	</select>

	<label class="input-group-text" for="VendorId">Vendor</label>
	<select [(ngModel)]=product.VendorId class="form-control" id="VendorId" name="VendorId">
		<option *ngFor="let v of vendors" [ngValue]="v.Id">{{v.Name}}</option>
	</select>

	<button (click)="create();" class="btn btn-primary">Create</button>

</div>
