<app-menu></app-menu>
<h3>{{title}}</h3>
<div>
<table *ngIf="purchaserequestlineitem" class="table table-hover">
	<tr><th>Name</th><td>{{ purchaserequestlineitem.Product.Name }}</td></tr>
  	<tr><th>Quantity</th><td>{{ purchaserequestlineitem.Quantity }}</td></tr>
    <tr><td colspan=2>
    	<a routerLink='/purchaserequestlineitems/edit/{{purchaserequestlineitem.Id}}' class="btn btn-primary" style="margin:10px 5px 10px 0px;">Edit</a>
    	<button (click)="remove();" class="btn btn-danger" style="margin:10px 5px 10px 5px;"> Remove</button>
    	<span *ngIf="deleteConfirmed">
    		<button (click)="confirmed();" class="btn btn-warning" style="margin:10px 5px 10px 0px;">Confirm Delete</button>
    	</span>
	</tr>
</table>
</div>