<app-menu></app-menu>
<div *ngIf="purchaserequest && sortProperty && sortOrder">
<h3>{{ title }} {{purchaserequest.Id}}</h3>
<a routerLink='/purchaserequestlineitems/create/{{purchaserequest.Id}}'>Add New Item</a>
<table class="table table-sm">
<tr>
  <th style="text-align:right">User: </th><td>{{systemsrv.loggedInUser.Username}}</td>
  <th style="text-align:right">Description: </th><td>{{purchaserequest.Description}}</td>
  <th style="text-align:right">Status: </th><td>{{purchaserequest.Status}}</td>
  <th style="text-align:right">Subtotal: </th><td>{{purchaserequest.Total | currency}}</td>
<br />
</tr>
</table>

<table class="table table-sm">
    <tr>
  	<th>Product</th>
    <th><a (click)="sort('Quantity')">Quantity <img src='/assets/sort.png'></a></th>
  	<th>Price</th>
    <th>Line Total</th>
    <th>Action</th>
    </tr>
    <tr *ngFor="let prli of purchaserequest.PurchaseRequestLineitems | sort:sortProperty:sortOrder">
      <td>{{prli.Product.Name}}</td>
      <td>{{prli.Quantity}}</td>
      <td>{{prli.Product.Price | currency}}</td>
      <td>{{prli.Quantity*prli.Product.Price | currency}}</td>
      <td><a routerLink='/purchaserequestlineitems/detail/{{ prli.Id }}'>Detail</a> | <a routerLink='/purchaserequestlineitems/edit/{{prli.Id}}'>Edit</a></td>
    </tr>
</table>

<button (click)="review();" class="btn btn-primary">Mark For Review</button>

</div>