<app-menu></app-menu>
<h3>{{title}}</h3>
<div>
<table *ngIf="purchaserequest" class="table table-sm">
	<tr><th>Id</th><td>{{ purchaserequest.Id }}</td></tr>
	<tr><th>Description</th><td>{{ purchaserequest.Description }}</td></tr>
	<tr><th>Justification</th><td>{{ purchaserequest.Justification }}</td></tr>
	<tr><th>Rejection Reason</th><td>{{ purchaserequest.RejectionReason }}</td></tr>
	<tr><th>Delivery Mode</th><td>{{ purchaserequest.DeliveryMode }}</td></tr>
	<tr><th>Status</th><td>{{ purchaserequest.Status }}</td></tr>
	<tr><th>Total</th><td>{{ purchaserequest.Total | currency}}</td></tr>
	<tr><th>User</th><td>{{ purchaserequest.User.Username }}</td></tr>

    <tr><td colspan=2>
    	<a routerLink='/purchaserequests/edit/{{purchaserequest.Id}}' class="btn btn-primary" style="margin:10px 5px 10px 0px;">Edit</a>
    	<button (click)="remove();" class="btn btn-danger" style="margin:10px 5px 10px 5px;"> Remove</button>
    	<span *ngIf="deleteConfirmed">
    		<button (click)="confirmed();" class="btn btn-warning" style="margin:10px 5px 10px 0px;">Confirm Delete</button>
    	</span>
    </td></tr>
</table>
</div>
