<app-menu></app-menu>
<div *ngIf="systemsrv.loggedInUser && purchaserequestlineitems && sortProperty && sortOrder">
<h3 style="display: inline-block;">{{ title }}</h3>
<a class="btn btn-primary" routerLink='/purchaserequestlineitems/create'>Add New</a>
<div id="container">
<table class="table table-hover">
    <tr>
  	<th><a (click)="sort('Description')">Description  <i class="fas fa-sort"></i></a></th>
  	<th><a (click)="sort('Quantity')">Quantity  <i class="fas fa-sort"></i></a></th>
  	<th><a (click)="sort('ProductId')">ProductId  <i class="fas fa-sort"></i></a></th>
  	<th>Product</th>
  	<th><a (click)="sort('PurchaseRequestId')">Purchase Request Id  <i class="fas fa-sort"></i></a></th>
    </tr>
    <tr *ngFor="let prli of purchaserequestlineitems | sort:sortProperty:sortOrder">
      <td>{{prli.Description}}</td>
      <td>{{prli.Quantity}}</td>
      <td>{{prli.ProductId}}</td>
      <td>{{prli.Product.Name}}</td>
      <td>{{prli.PurchaseRequestId}}</td>
      <td><a class="badge badge-primary" routerLink='/purchaserequestlineitems/detail/{{ prli.Id }}'>Detail</a> | <a class="badge badge-primary" routerLink='/purchaserequestlineitems/edit/{{prli.Id}}'>Edit</a></td>
    </tr>
</table>
</div>

</div>
