<app-menu></app-menu>
<div *ngIf="systemsrv.loggedInUser && purchaserequestlineitems && sortProperty && sortOrder">
<h3>{{ title }}</h3>
<a routerLink='/purchaserequestlineitems/create'>Add New</a>
<table class="table table-sm">
    <tr>
  	<th><a (click)="sort('Id')">Id <img src='/assets/sort.png'></a></th>
  	<th><a (click)="sort('Description')">Description <img src='/assets/sort.png'></a></th>
  	<th><a (click)="sort('Quantity')">Quantity <img src='/assets/sort.png'></a></th>
  	<th><a (click)="sort('ProductId')">ProductId <img src='/assets/sort.png'></a></th>
  	<th>Product</th>
  	<th><a (click)="sort('PurchaseRequestId')">Purchase Request Id <img src='/assets/sort.png'></a></th>
    </tr>
    <tr *ngFor="let prli of purchaserequestlineitems | sort:sortProperty:sortOrder">
      <td>{{prli.Id}}</td>
      <td>{{prli.Description}}</td>
      <td>{{prli.Quantity}}</td>
      <td>{{prli.ProductId}}</td>
      <td>{{prli.Product.Name}}</td>
      <td>{{prli.PurchaseRequestId}}</td>
      <td><a routerLink='/purchaserequestlineitems/detail/{{ prli.Id }}'>Detail</a> | <a routerLink='/purchaserequestlineitems/edit/{{prli.Id}}'>Edit</a></td>
    </tr>
</table>

</div>
