<app-menu></app-menu>
<h3>{{title}}</h3>
<div style="width:60%; padding: 10px;" *ngIf=purchaserequest>
	<label class="input-group-text" for="Description">Description</label>
		<input [(ngModel)]="purchaserequest.Description" name="Description" type="text" class="form-control" id="Description">

	<label class="input-group-text" for="Justification">Justification</label>
		<input [(ngModel)]="purchaserequest.Justification" name="Justification" type="text" class="form-control" id="Justification">

	<label class="input-group-text" for="DeliveryMode">Delivery Mode</label>
	<select [(ngModel)]="purchaserequest.DeliveryMode" class="form-control" id="DeliveryMode" name="DeliveryMode">
		<option value="Pickup">Pickup</option>
		<option value="Delivery">Delivery</option>
	</select>
	<br />
	<button (click)="change();" class="btn btn-primary" style="padding:10px;">Save Changes</button>

</div>