<app-menu></app-menu>
<h3>{{title}}</h3>
<div style="width:60%; padding: 10px;" *ngIf=purchaserequest>
	<label class="input-group-text" for="Description">Description</label>
		<input [(ngModel)]="purchaserequest.Description" name="Description" type="text" class="form-control" id="Description">

	<label class="input-group-text" for="Justification">Justification</label>
		<input [(ngModel)]="purchaserequest.Justification" name="Justification" type="text" class="form-control" id="Justification">

	<label class="input-group-text" for="RejectionReason">Rejection Reason</label>
		<input [(ngModel)]="purchaserequest.RejectionReason" name="RejectionReason" type="text" class="form-control" id="RejectionReason">

	<label class="input-group-text" for="DeliveryMode">DeliveryMode</label>
		<input [(ngModel)]="purchaserequest.DeliveryMode" name="DeliveryMode" type="text" class="form-control" id="DeliveryMode">

	<label class="input-group-text" for="Status">Status</label>
		<input [(ngModel)]="purchaserequest.Status" name="Status" type="text" class="form-control" id="Status">

	<label class="input-group-text" for="Total">Total</label>
		<input [(ngModel)]="purchaserequest.Total" name="Total" type="text" class="form-control" id="Total" readonly>

	<button (click)="change();" class="btn btn-primary">Save Changes</button>

</div>